/* @import url("https://taniarascia.github.io/primitive/css/main.css"); */
@import url("./normalize.css");

/** Fonts **/
@font-face {
    font-family: voxabular-font;
    /* src: url("./assets/GN-KMBFont-UB-NewstyleKanaA/GN-KillGothic-U-KanaNA.ttf"); */
    /* src: url("./assets/TitanOne-Regular.ttf"); */
    /* src: url("./assets/ShareTechMono-Regular.ttf"); */
    src: url("./assets/Bangers-Regular.ttf");
    /* #004a2f  #002f35 #ff6337  #ffa323
    */
}
/* Variables */
:root {
    --first-color: #cbf078;
    --second-color: #f8f398;
    --third-color: #f1b963;
    --fourth-color: #db4343;
    /* --fourth-color: #e46161; original*/
}
body {
    font-family: voxabular-font;
    background: url("./assets/bg-04.png");
    background-color: var(--third-color);
}

/* container*/
.container {
    /* border:2px solid green; */
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0.7rem;
    width: 100%;
    /* text-decoration: ; */
}

/* navbar */
.navbar {
    /* border:2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--fourth-color);
}
.navbar__title {
    /* border: 1px solid green; */
    font-size: 1.4rem;
    width: 300px;
    color: var(--second-color);
    text-shadow: 1px 1px 2px black;
    padding-left: 1rem;
}
.navbar__social {
    /* border:2px solid green; */
    display: flex;
    gap: 2rem;
    width: 20%;
    margin: 2px 2rem;
    /* todo: transition... */
    transition: 0.5s;
}
.navbar__social img {
    /* border:1px solid green; */
    width: 50px;
}
.navbar__social a img:hover {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: 3;
}
@keyframes rotation {
    100% {
        /* transform: ; */
        transform: rotateY(360deg) scale(1.4);
    }
}
.navbar__menu {
    display: none;
}

@media screen and (max-width: 400px) {
    .navbar {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .navbar__title {
        flex-grow: 1;
    }
    .navbar__menu {
        display: block;
    }
    .navbar__social {
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        transition: 0.4s;
    }
    .navbar__followus {
        /* margin-left: -90px; */
        /* border: 1px solid gray; */
        width: 100%;
    }
}

/* Episode description section */
.section {
    /* border: 1px solid brown; */
    background-color: var(--second-color);
    color: rgb(39, 37, 37);
    width: 90vw;
    padding: 0.5rem;
    border-radius: 3px;
    text-align: center;
}

/*  img/canvas */
.play {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.play__img {
    /* border: 1px solid black; */
    height: 70vh;
    width: 85vw;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 4px #69450f;
}
.play__btn {
    font-family: voxabular-font;
    letter-spacing: 2px;
    /* position: relative;  */
    margin-top: -30px;
    /* transform: translateY(-10rem);
    transform: translateX(100px); */
    border-radius: 50px;
    background-size: 300% 100%;
    padding: 1.4rem;
    background-color: var(--first-color);
    color: var(--fourth-color);
    max-width: 100px;
    cursor: pointer;
    box-shadow: 1px 3px 7px 3px var(--third-color);
    border: none;
    animation-name: heyplay;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.play__btn:hover {
    background-color: var(--first-color);
    color: var(--fourth-color);
    border: none;
    transform: scale(1.2);
    animation-name: heyplay;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes heyplay {
    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(1);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1) rotate(-5deg);
    }

    25% {
        transform: scale(1) rotate(5deg);
    }

    30% {
        transform: scale(1) rotate(-3deg);
    }

    35% {
        transform: scale(1) rotate(2deg);
    }

    40% {
        transform: scale(1) rotate(0);
    }
    50% {
        transform: rotate(360deg);
    }
}
.play__btn:active,
.play__btn:focus {
    background-color: var(--first-color);
    color: var(--fourth-color);
    border: none;
}

/* footer */
footer {
    font-size: 0.8rem;
    width: 100%;
    background-color: var(--second-color);
    margin-top: 2rem;
    text-align: center;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    box-shadow: 0 2px 3px 2px gray;
}
.copyright {
    user-select: none;
}
